body {
    background-image: url("bigboom.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    color:rgb(255, 255, 255);
}
h2 {
    color:rgb(255, 255, 255);
}
p {
    color:rgb(255, 255,255)
}
table, th, td {
    border:1px solid black;
}