body {
    background-image: url("bigboom.jpg");
}
h1 {
    color:rgb(255, 255, 255);
}
h2 {
    color:rgb(255, 255, 255);
}
p {
    color:rgb(255, 255,255)
}
p {
    background-color:rgb(0, 0, 255)
}